body {
	background-color: black;
}

#imageContainer {;
  width: 100%; /* Ensure container covers full viewport width */
  height: 100%; /* Ensure container covers full viewport height */
}

#imageContainer video {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center within the relative container */
}

/* Style the links inside the sidenav */
#mySidenav div {
  position: absolute; /* Position them relative to the browser window */
  left: -250px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 230px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav div:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#config {
  top: 20px;
  background-color: #2d2d2d;
}

#config label {
  margin: 10px;
}

#config input {
  margin: 10px;
  width: 200px;
}


.fs {
  position: absolute;
  top: 20px;
  left:20px;
  font-size: 30px;
  color: white;
  padding: 40px;
}