# fastapi
uvicorn==0.25.0
fastapi==0.108.0
pydantic-settings
websockets~=11.0.3
celery

# ml
torch~=2.1.2
diffusers~=0.25.0
transformers
accelerate
peft
numpy~=1.26.2
compel~=2.0.2

# media
ffmpeg-python==0.2.0
