#image-container {
  position: relative;
}

#image-container img {
	position: absolute;
}

.top {
	animation-name: fade;
	animation-direction: normal;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-duration: 10s;
}

@keyframes fade {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}